<?xml version="1.0"?>
<config>
    <modules>
        <Sign2pay_Payment>
            <version>0.7.0</version>
        </Sign2pay_Payment>
    </modules>

    <global>
    	<fieldsets>
    		 <sales_convert_quote_payment>
    		 	<check_no>
    		 		<to_order_payment>*</to_order_payment>
    		 	</check_no>
    		 	<check_date>
    		 		<to_order_payment>*</to_order_payment>
    		 	</check_date>
    		 </sales_convert_quote_payment>
    	</fieldsets>
        <models>
            <sign2pay>
                <class>Sign2pay_Payment_Model</class>
            </sign2pay>
        </models>
        <resources>
            <sign2pay_setup>
                <setup>
                    <module>Sign2pay_Payment</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </sign2pay_setup>
            <sign2pay_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </sign2pay_write>
            <sign2pay_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </sign2pay_read>
        </resources>
        <blocks>
            <sign2pay>
                <class>Sign2pay_Payment_Block</class>
            </sign2pay>
        </blocks>
        <helpers>
            <sign2pay>
                <class>Sign2pay_Payment_Helper</class>
            </sign2pay>
        </helpers>
    </global>
    <default>
        <payment>
            <sign2pay>
                <active>0</active>
                <model>sign2pay/sign2pay</model>
                <order_status>pending_payment</order_status>
                <complete_order_status>processing</complete_order_status>
                <title>Mobile payments using your signature</title>
                <payment_action>sale</payment_action>
                <includeJquery>1</includeJquery>
                <onepage_type>mage_world</onepage_type>
            </sign2pay>
         </payment>
    </default>
    <adminhtml>
        <layout>
            <updates>
                <sign2pay>
                    <file>sign2pay.xml</file>
                </sign2pay>
            </updates>
        </layout>
    </adminhtml>
    <frontend>
        <routers>
            <sign2pay module="Sign2pay_Payment">
                <use>standard</use>
                <args>
                    <module>Sign2pay_Payment</module>
                    <frontName>sign2pay</frontName>
                </args>
            </sign2pay>
        </routers>
        <layout>
            <updates>
                <sign2pay module="Sign2pay_Payment">
                    <file>sign2pay.xml</file>
                </sign2pay>
            </updates>
        </layout>
        <secure_url>
            <sign2pay_payment_redirect>/sign2pay/payment/redirect</sign2pay_payment_redirect>
        </secure_url>
        <events>
            <core_block_abstract_to_html_after>
                <observers>
                    <sign2pay>
                        <class>sign2pay/observer</class>
                        <method>afterBlockHtml</method>
                    </sign2pay>
                </observers>
            </core_block_abstract_to_html_after>
        </events>
    </frontend>
</config>
